:root {
    --sh-profissionais-font-family: "Roboto", sans-serif;

    --sh-profissionais-font-size-textos: 1rem;

    --sh-profissionais-cor-primaria: #fff;
    --sh-profissionais-cor-secundaria: #0075FF;
    --sh-profissionais-cor-terciaria: #000;
    --sh-profissionais-cor-quaternaria: #4198ff;
    --sh-profissionais-cor-textos: #6F6F6F;
    --sh-profissionais-cor-textos-hover: #2c2c2c;
    --sh-profissionais-cor-background-components: #356FB0;

    --sh-profissionais-itens-gap-top: 45px;

    --sh-profissionais-padding: 45px 25px 0 25px;
}

& .sh-EmDestaque-lista {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    padding: 25px 20px;
    overflow-x: auto;
    gap: 30px;
    justify-items: center;
    background-image: url('../../assets/index/backgrounds/background-profissoes.webp');
    background-repeat: no-repeat;
    background-size: cover;

    &::-webkit-scrollbar {
        background-color: transparent;
        height: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    & .sh-EmDestaque-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 245px;
        height: 100%;
        padding: 5px;
        border-radius: 5px;
        background-color: var(--sh-profissionais-cor-primaria);
        box-shadow: #555555 3px 3px 9px;

        & .sh-EmDestaque-item-dados {
            display: flex;
            align-items: center;
            gap: 10px;

            & .sh-EmDestaque-imagemProfissional {
                width: 35px;
                height: 35px;
            }

            & .sh-EmDestaque-profissonal-nome {
                color: var(--sh-profissionais-cor-textos);
                font-size: var(--sh-profissionais-font-size-textos);
                margin: 0;
                height: max-content;
                font-weight: 500;

                /* Limitar tamanho de texto */
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }

        & .sh-EmDestaque-servicos {
            list-style-type: none;
            display: flex;
            padding: 0;
            gap: 10px;

            & .sh-servicos-list {
                color: var(--sh-profissionais-cor-primaria);
                background-color: var(--sh-profissionais-cor-background-components);
                padding: 1px 5px;
                border-radius: 5px;
                font-size: var(--sh-profissionais-font-size-textos);
                text-wrap: nowrap;
            }
        }

        & .sh-EmDestaque-item-dataCadastro {
            margin: 0;
            font-size: var(--sh-profissionais-font-size-textos);
            color: var(--sh-profissionais-cor-textos);
        }

        & .sh-EmDestaque-estrelas {
            display: flex;
            align-items: center;
            gap: 5px;

            & .sh-EmDestaque-estrelas-img {
                width: 21px;
            }

            & .sh-EmDestaque-estrelas-quantidade {
                display: flex;
                height: max-content;
                margin: 4px 0 0;
                color: var(--sh-profissionais-cor-terciaria);
                font-weight: 500;
                font-size: var(--sh-profissionais-font-size-textos);
            }
        }
    }
}

@media (min-width: 576px) {
    :root {
        --sh-profissionais-font-size-textos: 1.2rem;
    }

    & .sh-EmDestaque-lista {
        & .sh-EmDestaque-item {
            width: 285px;
        }

    }
}

@media (min-width: 768px) {
    :root {
        --sh-profissionais-font-size-textos: 1rem;
    }

    & .sh-EmDestaque-lista {
        & .sh-EmDestaque-item {
            width: 250px;
            gap: 10px;
        }
    }
}

@media (min-width: 992px) {
    :root {
        --sh-profissionais-font-size-textos: .9rem;
    }

    & .sh-EmDestaque-lista {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;

        & .sh-EmDestaque-item {
            width: 227px;
        }
    }
}

@media (min-width: 1200px) {
    :root {
        --sh-profissionais-font-size-textos: .8rem;
    }

    & .sh-EmDestaque-lista {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        & .sh-EmDestaque-item {
            width: 210px;
        }
    }
}

@media (min-width: 1355px) {
    & .sh-EmDestaque-lista {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1400px) {
    & .sh-EmDestaque-lista {
        width: 1400px;
        border-radius: 5px;
    }
}