:root {
    --sh-font-family: "Roboto", sans-serif;

    --sh-font-size-textos: 1.2rem;
    /* --sh-font-size-titulos: 2rem; */
    /* --sh-font-size-subtitulos: 1.7rem; */

    --sh-cor-primaria: #fff;
    --sh-cor-secundaria: #0075FF;
    --sh-cor-terciaria: #000;
    --sh-cor-quaternaria: #35FF62;
    --sh-cor-textos: #6F6F6F;
    --sh-cor-textos-hover: #2c2c2c;

    --sh-itens-gap-top: 45px;

    --sh-padding: 45px 25px 0 25px;
}

& .sh-EmDestaque-lista {
    display: flex;
    list-style-type: none;
    padding: 50px 0 0;
    justify-items: center;
    overflow-x: scroll;

    & .sh-EmDestaque-item {
        width: 225px;
        padding: 3px;
        height: 135px;

        & .sh-EmDestaque-item-dados {
            display: flex;
            align-items: center;
            gap: 10px;

            & .sh-EmDestaque-imagemProfissional {
                width: 35px;
                height: 35px;
            }

            & .sh-EmDestaque-profissonal-nome {
                color: var(--sh-cor-textos);
                font-size: var(--sh-font-size-textos);
                margin: 0;
                height: max-content;
                font-weight: 500;

                /* Limitar tamanho de texto */
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }

        & .sh-EmDestaque-servicos-titulo {
            color: var(--sh-cor-textos);
            font-size: var(--sh-font-size-textos);
            padding: 8px 0 0;
            font-weight: 500;
        }

        & .sh-EmDestaque-servicos {
            list-style-type: none;
            display: flex;
            padding: 0;
            gap: 10px;

            & .sh-servicos-list {
                background-color: var(--sh-cor-quaternaria);
                padding: 1px 5px;
                color: var(--sh-cor-terciaria);
                border-radius: 50px;
                font-size: 1.2rem;
            }
        }

        & .sh-EmDestaque-estrelas {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 10px 0 0;

            & .sh-EmDestaque-estrelas-img {
                width: 21px;
            }

            & .sh-EmDestaque-estrelas-quantidade {
                color: var(--sh-cor-terciaria);
                font-weight: 500;
                font-size: var(--sh-font-size-textos);
                margin: 0;
            }
        }
    }
}

@media (min-width: 1400px) {
    :root {
        --sh-font-family: "Roboto", sans-serif;

        --sh-font-size-textos: 1.2rem;
        --sh-font-size-titulos: 2rem;
        --sh-font-size-subtitulos: 1.7rem;

        --sh-cor-primaria: #fff;
        --sh-cor-secundaria: #0075FF;
        --sh-cor-terciaria: #000;
        --sh-cor-quaternaria: #35FF62;
        --sh-cor-textos: #6F6F6F;
        --sh-cor-textos-hover: #2c2c2c;

        --sh-itens-gap-top: 45px;

        --sh-padding: 45px 25px 0 25px;
    }

    & .sh-EmDestaque-lista {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        list-style-type: none;
        padding: 50px 0 0;
        justify-items: center;

        & .sh-EmDestaque-item {
            width: 225px;
            padding: 3px;
            height: 135px;

            & .sh-EmDestaque-item-dados {
                display: flex;
                align-items: center;
                gap: 10px;

                & .sh-EmDestaque-imagemProfissional {
                    width: 35px;
                    height: 35px;
                }

                & .sh-EmDestaque-profissonal-nome {
                    color: var(--sh-cor-textos);
                    font-size: var(--sh-font-size-textos);
                    margin: 0;
                    height: max-content;
                    font-weight: 500;

                    /* Limitar tamanho de texto */
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
            }

            & .sh-EmDestaque-servicos-titulo {
                color: var(--sh-cor-textos);
                font-size: var(--sh-font-size-textos);
                padding: 8px 0 0;
                font-weight: 500;
            }

            & .sh-EmDestaque-servicos {
                list-style-type: none;
                display: flex;
                padding: 0;
                gap: 10px;

                & .sh-servicos-list {
                    background-color: var(--sh-cor-quaternaria);
                    padding: 1px 5px;
                    color: var(--sh-cor-terciaria);
                    border-radius: 50px;
                    font-size: 1.2rem;
                }
            }

            & .sh-EmDestaque-estrelas {
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 10px 0 0;

                & .sh-EmDestaque-estrelas-img {
                    width: 21px;
                }

                & .sh-EmDestaque-estrelas-quantidade {
                    color: var(--sh-cor-terciaria);
                    font-weight: 500;
                    font-size: var(--sh-font-size-textos);
                    margin: 0;
                }
            }
        }
    }
}