:root {
    --sh-servicosFreela-cor-primaria: #fff;
    --sh-servicosFreela-cor-secundaria: #0075FF;
    --sh-servicosFreela-cor-marcadores: #5584E0;
    --sh-servicosFreela-cor-cards-background-hover: #e3e3e3;
    --sh-servicosFreela-cor-terciaria: #000;
    --sh-servicosFreela-cor-quaternaria: #35FF62;
    --sh-servicosFreela-cor-textos: #494949;
    --sh-servicosFreela-cor-background-components: #356FB0;

    --sh-servicosFreela-padding: 0 5px;
    --sh-servicosFreela-margin: 20px 0;


    --sh-servicosFreela-font-size-textos: 1rem;
}

& .sh-span-servicos-filtro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;

    & .sh-servicosAdequados-filtro {}

    & .sh-servicosFreela-lista {
        list-style-type: none;
        padding: 15px;
        margin: 0;
        display: flex;
        overflow-x: auto;
        gap: 15px;
        background-image: url('../../assets/index/backgrounds/background-servicos.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;

        &::-webkit-scrollbar {
            background-color: transparent;
            height: 2px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        /* & .sh-servicosFreela-itens {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 10px;
            width: max-content;
            min-height: 100%;
            background-color: var(--sh-servicosFreela-cor-primaria);
            border-radius: 5px;
            box-shadow: #555555 3px 3px 9px;
            justify-content: space-between;

            &:hover {
                background-color: var(--sh-servicosFreela-cor-cards-background-hover);
            }

            & .sh-itens-data {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 10px;
                width: 265px;

                & .sh-servicosFreela-img-perfil {
                    width: 30px;
                }

                & .sh-servicosFreela-data-marcador {
                    margin: 0;
                    background-color: var(--sh-servicosFreela-cor-background-components);
                    font-size: var(--sh-servicosFreela-font-size-textos);
                    color: var(--sh-servicosFreela-cor-primaria);
                    padding: 2px 8px;
                    border-radius: 5px;
                }

                & .sh-servicosFreela-data-descricao {
                    color: var(--sh-servicosFreela-cor-terciaria);
                    font-size: var(--sh-servicosFreela-font-size-textos);
                    margin: 0;

                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                }

                & .sh-servicos-data-remuneracao {
                    color: var(--sh-servicos-cor-terciaria);
                    font-size: var(--sh-servicos-font-size-textos);
                    margin: 0;
                    width: max-content;
                    font-weight: 600;
                }
            }
        } */
        & .sh-todosServicosItem {
            width: 300px;
            /* overflow: hidden; */
            border-radius: 5px;
            box-shadow: 3px 3px 7px #000;
            cursor: pointer;


            & .sh-todosServicosItem-lista {
                background-color: var(--sh-ListaServicos-cor-primaria);
                list-style-type: none;
                padding: 0;
                border-radius: 5px;
                height: 100%;

                & .sh-servicosLista-item {

                    & .sh-servicosLista-imagem {
                        width: 300px;
                        border-radius: 5px 5px 0 0;

                    }
                }

                & .sh-servicosLista-fotoServico {
                    height: 170px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    border-radius: 5px 5px 0 0;
                }

                & .sh-servicosLista-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 2px 5px;

                    & .sh-servicosLista-fotoNome {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        & .sh-servicosLista-clienteImg {
                            width: 40px;
                        }

                        & .sh-servicosLista-nomeCliente {
                            margin: 0;
                            /* Limitar tamanho de texto */
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            max-width: 180px;
                            height: max-content;
                        }
                    }


                    & .sh-servicosLista-classificacao {
                        height: max-content;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        & .sh-servicosLista-classificacaoImg {
                            width: 23px;
                        }

                        & .sh-servicosLista-classificacaoNumero {
                            margin: 0;
                        }
                    }
                }

                & .sh-servicosLista-main {
                    display: flex;
                    flex-direction: column;
                    padding: 10px 5px;
                    height: 140px;

                    & .sh-servicosLista-tipoServico {
                        margin: 0;
                        font-size: var(--sh-ListaServicos-font-size-textos);
                        color: var(--sh-ListaServicos-cor-terciaria);
                        font-weight: bold;
                    }

                    & .sh-servicosLista-descricaoServico {
                        margin: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        max-width: 100%;
                        height: max-content;
                    }
                }

                & .sh-servicosLista-footer {
                    display: flex;
                    padding: 5px;
                    background-color: var(--sh-ListaServicos-cor-background-components);
                    border-radius: 0 0 5px 5px;

                    & .sh-servicosLista-remuneracao {
                        margin: 0;
                        font-size: var(--sh-ListaServicos-font-size-textos);
                        font-weight: 500;
                        color: var(--sh-ListaServicos-cor-primaria);
                    }
                }
            }
        }

        & .sh-todosServicosItem:hover {
            box-shadow: none;
        }
    }
}

@media (min-width: 992px) {
    & .sh-span-servicos-filtro {
        & .sh-servicosFreela-lista {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            overflow-x: hidden;
            overflow-y: auto;
            justify-content: center;
            max-height: 820px;

            &::-webkit-scrollbar {
                background-color: transparent;
                width: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #bcbcbc68;
            }
        }
    }
}

& .sh-alerts {
    width: max-content;
    padding: 2px;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 1046;
    animation: alertsAnim 4s linear;
}

@media (min-width: 1400px) {
    & .sh-span-servicos-filtro {

        & .sh-servicosFreela-lista {
            width: 1400px;
            border-radius: 5px;
            justify-items: center;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}