:root {
    --sh-clientes-font-family: "Roboto", sans-serif;

    --sh-clientes-font-size-textos: 1rem;

    --sh-clientes-cor-primaria: #fff;
    --sh-clientes-cor-secundaria: #0075FF;
    --sh-clientes-cor-terciaria: #000;
    --sh-clientes-cor-quaternaria: #35FF62;
    --sh-clientes-cor-textos: #6F6F6F;
    --sh-clientes-cor-textos-hover: #2c2c2c;

    --sh-clientes-itens-gap-top: 45px;

    --sh-clientes-padding: 45px 25px 0 25px;
}

& .sh-cliEmDestaque {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 25px 20px;
    justify-items: center;
    overflow-x: auto;
    gap: 30px;
    justify-items: center;

    &::-webkit-scrollbar {
        background-color: transparent;
        height: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    & .sh-cliEmDestaque-item {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 5px;
        border-radius: 5px;
        width: 180px;
        height: 100%;
        background-color: var(--sh-clientes-cor-primaria);
        box-shadow: #555555 3px 3px 9px;

        & .sh-cliEmDestaque-item-dados {
            display: flex;
            align-items: center;
            gap: 10px;

            & .sh-cliEmDestaque-imagemProfissional {
                width: 35px;
                height: 35px;
            }

            & .sh-cliEmDestaque-cliente-nome {
                color: var(--sh-clientes-cor-textos);
                font-size: var(--sh-clientes-font-size-textos);
                margin: 0;
                height: max-content;
                font-weight: 500;
                text-wrap: nowrap;

                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }

        & .sh-cliEmDestaque-item-dataCadastro {
            margin: 0;
            font-size: var(--sh-clientes-font-size-textos);
            color: var(--sh-clientes-cor-textos);
        }

        & .sh-cliEmDestaque-estrelas {
            display: flex;
            align-items: center;
            gap: 5px;

            & .sh-cliEmDestaque-estrelas-img {
                width: 21px;
            }

            & .sh-cliEmDestaque-estrelas-quantidade {
                height: max-content;
                display: flex;
                margin: 4px 0 0;
                font-weight: 500;
                color: var(--sh-clientes-cor-terciaria);
                font-size: var(--sh-clientes-font-size-textos);
                align-items: end;
            }
        }
    }

}

@media (min-width: 576px) {
    :root {
        --sh-clientes-font-size-textos: 1.2rem;
    }

    & .sh-cliEmDestaque {
        & .sh-cliEmDestaque-item {
            width: 210px;
        }
    }
}

@media (min-width: 768px) {
    :root {
        --sh-clientes-font-size-textos: 1rem;
    }

    & .sh-cliEmDestaque {

        & .sh-cliEmDestaque-item {
            width: 182px;
        }
    }
}

@media (min-width: 992px) {
    :root {
        --sh-clientes-font-size-textos: .9rem;
    }

    & .sh-cliEmDestaque {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;

        & .sh-cliEmDestaque-item {
            width: 177px;
            gap: 8px;
        }
    }
}

@media (min-width: 1200px) {
    :root {
        --sh-clientes-font-size-textos: .8rem;
    }

    & .sh-cliEmDestaque {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

        & .sh-cliEmDestaque-item {
            width: 177px;
            gap: 8px;
        }
    }
}

@media (min-width: 1400px) {
    & .sh-cliEmDestaque {
        width: 1400px;
    }
}