:root {
    --sh-planos-cor-primaria: #fff;
    --sh-planos-cor-secundaria: #0075FF;
    --sh-planos-cor-terciaria: #000;
    --sh-planos-cor-quaternaria: #35FF62;
    --sh-planos-cor-textos: #6F6F6F;
    --sh-planos-cor-textos-hover: #2c2c2c;

    --sh-planos-card-width: 300px;
}

& .sh-planos-cards {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
    list-style-type: none;
    padding: 0;
    padding-bottom: 5px;
    overflow-x: scroll;

    & .sh-planos-card-item {

        & .sh-planos-car-img {
            width: var(--sh-planos-card-width);
            cursor: pointer;
        }

        &:hover {
            filter: drop-shadow(0 0 .5px rgba(0, 0, 0, .4));
        }
    }
}

@media (min-width: 576px) {
    :root {
        --sh-planos-card-width: 350px;
    }
}

@media (min-width: 768px) {
    :root {
        --sh-planos-card-width: 300px;
    }
}

@media (min-width: 920px) {
    & .sh-planos-cards {
        overflow-x: hidden;
    }
}