* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --sh-freelancer-font-family: "Nunito", sans-serif;

    --sh-freelancer-cor-primaria: #fff;
    --sh-freelancer-cor-secundaria: #0075FF;
    --sh-freelancer-cor-terciaria: #000;
    --sh-freelancer-cor-quaternaria: #35FF62;
    --sh-freelancer-cor-textos: #494949;
    --sh-freelancer-cor-background-footer: #26466B;
    --sh-footer-cor-background-skillhub: #0089e0;
    --sh-freelancer-cor-background-components: #356FB0;

    --sh-freelancer-padding: 0 10px;
    --sh-freelancer-margin: 30px 0;

    --sh-freelancer-font-size-titulos: 1.4rem;
    --sh-freelancer-font-size-subtitulos: 1.2rem;
    --sh-freelancer-font-size-textos: 1rem;
}

@keyframes alertsAnim {
    from {
        right: -100%;
    }

    10% {
        right: 0;
    }

    90% {
        right: 0;
    }

    to {
        right: -100%;
    }
}

.sh-freela {
    min-height: 100vh;
    font-family: var(--sh-freelancer-font-family);
    position: relative;
    overflow: hidden;

    & .sh-freela-header-apresentacao {
        padding-bottom: 20px;


        & .sh-apresentacao {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            padding: 0 0 10px 0;

            & .sh-apresentacao-um {
                width: 100%;

                & .sh-apresentacao-img {
                    width: 100%;
                }
            }

            & .sh-apresentacao-textos {
                display: flex;
                flex-direction: column;
                padding: var(--sh-index-padding);
                gap: 5px;

                & .sh-apresentacao-titulos {
                    font-size: var(--sh-index-font-size-titulos);
                    color: var(--sh-index-cor-terciaria);
                }

                & .sh-apresentacao-paragrafos {
                    font-size: var(--sh-index-font-size-textos);
                    color: var(--sh-index-cor-textos);
                    margin: 0;
                }
            }

            & .sh-apresentacao-button {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                & .sh-apresentacao-button-item {
                    & .sh-apresentacao-button-icon {
                        width: 20px;
                    }

                    & .sh-invert {
                        rotate: 180deg;
                    }
                }

                & .sh-apresentacao-button {
                    background-color: var(--sh-index-cor-background-components);
                    width: 100%;

                    & .sh-apresentacao-button-cadastro {
                        text-decoration: none;
                        font-size: var(--sh-index-font-size-titulos);
                        color: var(--sh-index-cor-primaria);
                        font-weight: 400;
                    }
                }
            }

            & .sh-apresentacao-dois {
                display: flex;
                flex-direction: column;
                padding: 0;
                margin-top: 20px;
                overflow-x: hidden;

                & .sh-apresentacao-dois-container-img {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    & .sh-apresentacao-dois-img {
                        width: 100%;
                    }
                }

                & .sh-apresentacao-textos {
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                    padding: var(--sh-index-padding);
                    gap: 5px;

                    & .sh-apresentacao-dois-titulos {
                        margin: 0;
                        padding: 0;
                        font-size: var(--sh-index-font-size-titulos);
                        color: var(--sh-index-cor-terciaria);
                    }

                    & .sh-apresentacao-dois-textos {
                        padding: 0;
                        font-size: var(--sh-index-font-size-textos);
                        color: var(--sh-index-cor-textos);
                        margin: 0;
                    }
                }
            }
        }

    }

    & .sh-freela-main {


        & .sh-profissionaisEmDestaque {
            & .sh-profissionaisEmDestaque-titulo {
                text-align: center;
                font-size: var(--sh-index-font-size-titulos);
                color: var(--sh-index-cor-terciaria);
            }

            & .sh-profissionalEmDestaque-lista {
                width: 100%;
                display: flex;
                justify-content: center;
                /* background-image: url('./assets/index/backgrounds/background-profissoes.webp');
                background-repeat: no-repeat;
                background-size: cover; */
            }
        }

        & .sh-clientesEmDestaque {
            display: flex;
            flex-direction: column;
            margin: var(--sh-index-margin);
            gap: 20px;
            width: 100%;

            & .sh-clientesEmDestaque-titulo {
                text-align: center;
                font-size: var(--sh-index-font-size-titulos);
                color: var(--sh-index-cor-terciaria);
            }

            & .sh-clientesEmDestaque-lista {
                width: 100%;
                display: flex;
                justify-content: center;
                /* background-image: url('./assets/index/backgrounds/background-profissoes.webp');
        background-repeat: no-repeat;
        background-size: cover; */
            }
        }

        & .sh-main-servicos {
            margin: var(--sh-index-margin);
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;

            & .sh-servicos-titulo {
                text-align: center;
                color: var(--sh-index-cor-terciaria);
                font-size: var(--sh-index-font-size-titulos);
            }

            & .sh-servicos-lista-container {
                width: 100%;
            }
        }

        & .sh-main-planos {
            padding: var(--sh-index-padding);
            margin: var(--sh-index-margin);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            width: 100%;

            & .sh-planos-titulos {

                & .sh-planos-titulo {
                    text-align: center;
                    color: var(--sh-index-cor-terciaria);
                    font-size: var(--sh-index-font-size-titulos);
                    margin: 0;
                }

                & .sh-planos-subtitulo {
                    color: var(--sh-index-cor-textos);
                    font-size: var(--sh-index-font-size-subtitulos);
                    margin: 0;
                }
            }
        }

        & .sh-todos-servicos {
            display: flex;
            flex-direction: column;
            width: 100%;

            & .sh-todos-os-servicos-titulo {
                text-align: center;
                color: var(--sh-index-cor-terciaria);
                font-size: var(--sh-index-font-size-titulos);
            }

            & .sh-todos-os-servicos-info {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                overflow: hidden;
                width: 100%;

                & .sh-servicos-filtro {
                    display: flex;
                    justify-content: end;
                    height: max-content;
                    align-items: end;
                    column-gap: 15px;

                    & .sh-filtro-button {
                        background-color: var(--sh-freelancer-cor-background-components);
                        border: none;
                        border-radius: 5px;
                        height: max-content;
                        padding: 5px;
                        border: 1px solid transparent;

                        &:hover {
                            border-color: var(--sh-freelancer-cor-terciaria);
                            color: var(--sh-freelancer-cor-primaria);
                        }
                    }


                }

                & .sh-todos-servicos-list {
                    list-style-type: none;
                    padding: 5px 5px 25px;
                    margin: 0;
                    display: grid;
                    gap: 15px;
                    justify-content: center;

                    & .sh-todos-os-servicos-item {
                        text-decoration: none;
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        padding: 10px;
                        width: 285px;
                        height: max-content;
                        background-color: var(--sh-servicos-cor-primaria);
                        border-radius: 5px;
                        box-shadow: #555555 3px 3px 9px;
                    }
                }
            }
        }

        & .sh-freela-duvidas {
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: var(--sh-freelancer-cor-background-components);
            margin: 45px 0;
            padding: 30px 10px;
            border-radius: 25px;
            margin-left: 5px;
            margin-right: 5px;
            width: 100%;

            & .sh-duvidas-titulo {
                text-align: center;
                color: var(--sh-freelancer-cor-primaria);
                font-size: var(--sh-freelancer-font-size-titulos);
            }

            & .sh-duvidas-acordeon {
                display: flex;
                flex-direction: column;
                gap: 10px;

                & .sh-duvidas-acordeon-item {
                    border: none;
                    background-color: transparent;

                    & .sh-duvidas-header {

                        & .accordion-button {
                            color: var(--sh-freelancer-cor-primaria);
                            font-size: var(--sh-freelancer-font-size-textos);
                            font-weight: 650;
                            gap: 5px;
                            padding: 0;
                            outline: none;
                            border: none;
                            align-items: normal;
                            background-color: transparent;

                            &:not(.collapsed) {
                                color: var(--sh-freelancer-cor-primaria);
                                background-color: transparent;
                                box-shadow: none;
                                border: none;
                            }

                            &:focus {
                                box-shadow: none;
                            }

                            &::after {
                                order: -1;
                                margin: 0;

                                background-image: url('../../assets/FreelaHome/icons/seta.png');
                            }
                        }
                    }

                    & .sh-acordeon-body {
                        color: var(--sh-freelancer-cor-primaria);
                        font-size: var(--sh-freelancer-font-size-textos);
                    }
                }
            }
        }
    }

    & .sh-freela-footer {
        background-color: var(--sh-freelancer-cor-background-footer);
    }

    & .sh-alerts {
        width: max-content;
        padding: 2px;
        position: absolute;
        top: 0;
        right: -100%;
        z-index: 1046;
        animation: alertsAnim 4s linear;
    }
}

@media (min-width: 992px) {
    .sh-freela {
        & .sh-freela-main {
            & .sh-todos-servicos {
                align-items: center;
            }

            & .sh-freela-duvidas {

                & .sh-duvidas-acordeon {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .sh-freela {

        & .sh-freela-header-apresentacao {
            padding: 3px;
            padding-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & .sh-freela-main {
            display: flex;
            flex-direction: column;
            align-items: center;

            & .sh-todos-servicos {
                & .sh-todos-os-servicos-info {
                    align-items: center;
                }
            }

            & .sh-main-servicos {
                & .sh-servicos-lista-container {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }

            & .sh-freela-duvidas {
                width: 1400px;

                & .sh-duvidas-acordeon {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            }
        }

        & .sh-freela-footer {
            display: flex;
            justify-content: center;
        }
    }
}