@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --sh-perfil-font-family: "Roboto", sans-serif;

    --sh-perfil-cor-primaria: #fff;
    --sh-perfil-cor-secundaria: #0075FF;
    --sh-perfil-cor-terciaria: #000;
    --sh-perfil-cor-quaternaria: #35FF62;
    --sh-perfil-cor-texto: #494949;

    --sh-perfil-cor-background-footer: #26466B;
    --sh-perfil-cor-background-skillhub: #0089e0;
    --sh-perfil-cor-background-components: #356FB0;

    --sh-perfil-form-width: 300px;

    --sh-perfil-fontSize-text: 1rem;
    --sh-perfil-fontSize-titulos: 1.1rem;
    --sh-perfil-fontSize-titulos-servicos: 1.3rem;
}

@keyframes alertsAnim {
    from {
        right: -100%;
    }

    10% {
        right: 0;
    }

    90% {
        right: 0;
    }

    to {
        right: -100%;
    }
}

.sh-perfil {
    height: 100vh;
    width: 100%;
    background-size: cover;
    font-family: var(--sh-perfil-font-family);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;

    & .sh-perfil-header {
        display: flex;
        padding: 3px 5px;
        justify-content: space-between;
        width: 100%;
        height: max-content;
        align-items: end;

        & .sh-perfil-header-options {
            display: flex;
            list-style-type: none;
            padding: 0;
            gap: 20px;
            margin: 0;
            margin-right: 5px;

            & .sh-header-options-item {
                height: max-content;

                & .sh-header-item-text {
                    margin: 0;
                    font-size: var(--sh-perfil-fontSize-text);
                    text-decoration: none;
                    color: var(--sh-perfil-cor-texto);
                    cursor: pointer;
                }
            }
        }
    }

    & .sh-perfil-main {
        padding: 15px 5px 0;
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        & .sh-dados-lista {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            & .sh-dados-item {
                & .sh-dados-item-text {
                    margin: 0;
                    font-size: var(--sh-perfil-fontSize-text);
                    color: var(--sh-perfil-cor-texto);
                }

                & .sh-dados-item-titulo {
                    font-size: var(--sh-perfil-fontSize-titulos);
                    color: var(--sh-perfil-cor-terciaria);

                }
            }

            & .perfil-foto-nome {
                display: flex;
                align-items: center;
                column-gap: 10px;
                border-bottom: 1px solid var(--sh-perfil-cor-background-components);
                padding: 5px 0;

                & .sh-dados-item-text {
                    color: var(--sh-perfil-cor-terciaria);
                    font-size: var(--sh-perfil-fontSize-titulos);
                }
            }

            & .sh-dados-dadosBase {
                display: flex;
                gap: 20px;

                & .sh-dadosBase-item {
                    display: flex;
                    column-gap: 10px;
                    align-items: end;

                    & img {
                        width: 28px;
                    }
                    
                }

            }

            & .sh-dados-perfil-img {

                & img {
                    width: 70px;
                }
            }

            

            & .sh-nascimento {
                margin-top: 10px;
            }
        }

        & .sh-servicos-aceitos {
            background-color: red;
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;

            & .sh-servicos-titulo {
                text-align: center;
                font-size: var(--sh-perfil-fontSize-titulos-servicos);
                color: var(--sh-perfil-cor-terciaria);
            }
        }
    }

    & .sh-alerts {
        width: max-content;
        padding: 2px;
        position: absolute;
        top: 0;
        right: -100%;
        z-index: 1000;
        animation: alertsAnim 4s linear;
    }
}