@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --sh-font-family: "Roboto", sans-serif;

    --sh-font-size-textos-header: 1.5rem;

    --sh-cor-primaria: #fff;
    --sh-cor-secundaria: #0075FF;
    --sh-cor-terciaria: #000;
    --sh-cor-textos: #6F6F6F;
    --sh-cor-textos-hover: #2c2c2c;

    --sh-padding-geral: 10px;
}

.sh-header {
    padding: var(--sh-padding-geral);

    & .sh-header-options {
        padding: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        & .sh-options-itens {
            height: max-content;
            width: max-content;

            & .sh-options-img {
                width: 45px;
            }

            & .sh-logo-img {
                width: 140px;
            }
        }

    }

}

/* Logo e opções de navegação para celulares */
.sh-header-offcanvas {
    & .sh-offcanvas-element {
        border-bottom: 1px solid #e9e9e9;

        & .sh-lg-header-title {
            font-size: var(--sh-font-size-textos-header);
            color: var(--sh-cor-terciaria);
            & .sh-logo-img {
                width: 70px;
            }
        }
    }

    & .sh-header-navigation {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
        row-gap: 15px;

        & .sh-navigation-item {
            font-size: var(--sh-font-size-textos-header);
            font-family: var(--sh-font-family);
            color: var(--sh-cor-textos);

            & .sh-item-text {
                width: max-content;
                border-bottom: 2px solid transparent;
                cursor: pointer;
                transition: .5s;
                text-decoration: none;
                color: var(--sh-cor-textos);
                font-size: var(--sh-font-size-textos-header);

                &:hover {
                    color: var(--sh-cor-textos-hover);
                    border-bottom: 2px solid var(--sh-cor-secundaria);
                }
            }

        }
    }
}

@media (min-width: 1200px) {
    :root {
        --sh-font-family: "Roboto", sans-serif;
    
        --sh-font-size-textos-header: 1.2rem;
    
        --sh-cor-primaria: #fff;
        --sh-cor-secundaria: #0075FF;
        --sh-cor-terciaria: #000;
        --sh-cor-textos: #6F6F6F;
        --sh-cor-textos-hover: #2c2c2c;
    
        --sh-padding-geral: 5px 10px;
    }

    .sh-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sh-desktop-logo {
            height: max-content;
            & .sh-logo-img {
                width: 140px;
            }

        }
    }

    .sh-header-offcanvas {

        & .sh-header-navigation {
            flex-direction: row;
            gap: 26px;
            padding: 8px 0px 5px;
        }
    }
}