@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --sh-dadosPerfil-font-family: "Nunito", sans-serif;

  --sh-dadosPerfil-cor-primaria: #fff;
  --sh-dadosPerfil-cor-secundaria: #0075FF;
  --sh-dadosPerfil-cor-terciaria: #000;
  --sh-dadosPerfil-cor-quaternaria: #35FF62;
  --sh-dadosPerfil-cor-textos: #494949;
  --sh-dadosPerfil-cor-background-footer: #26466B;
  --sh-dadosPerfil-cor-background-skillhub: #0089e0;
  --sh-dadosPerfil-cor-background-components: #356FB0;

  --sh-dadosPerfil-padding: 0 10px;
  --sh-dadosPerfil-margin: 30px 0;
  --sh-tamanho-imagam-perfil: 90px;

  --sh-dadosPerfil-font-size-titulos: 1.4rem;
  --sh-dadosPerfil-font-size-subtitulos: 1.2rem;
  --sh-dadosPerfil-font-size-textos: 1rem;
}

& .sh-dadosPerfil {
  min-height: 100%;
  list-style-type: none;
  padding: 0;
  margin-top: 60px;

  & .sh-dadosPerfil-header {
    padding: 5px;
    display: flex;
    gap: 10px;

    & .sh-opcoesFotoPerfil {
      display: flex;
      flex-direction: column;
      gap: 10px;

      & .sh-perfil-foto {
        display: flex;
        align-items: center;
        justify-content: center;

        & .sh-perfil-img {
          width: var(--sh-tamanho-imagam-perfil);
          height: var(--sh-tamanho-imagam-perfil);
          border-radius: 100px;
        }
      }

      & .sh-perfil-classificacao {
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 5px;

        & .sh-icon-classificacao {
          width: 25px;
        }

        & .sh-numero-classificacao {
          font-size: var(--sh-dadosPerfil-font-size-textos);
          color: var(--sh-dadosPerfil-cor-terciaria);
          margin: 0;
          width: 25px;
        }
      }
    }

    & .sh-fotoPerfil-buttons {
      display: flex;
      gap: 5px;
      flex-direction: column;
      justify-content: center;
      height: var(--sh-tamanho-imagam-perfil);

      & .sh-fotoPerfil-input {
        display: none;

      }

      & .sh-button-imgPerfil {
        cursor: pointer;
        outline: none;
        border: 1px solid transparent;
        font-size: var(--sh-dadosPerfil-font-size-textos);
        border-radius: 5px;
        width: max-content;
        padding: 1px 5px;
      }

      & .sh-button-mudarFoto {
        background-color: var(--sh-dadosPerfil-cor-background-components);
        color: var(--sh-dadosPerfil-cor-primaria);

        &:hover {
          background-color: #044da0;
        }
      }

      & .sh-button-removerFoto {
        background-color: #dadada;
        color: #838181;

        &:hover {
          background-color: #b6b6b6;
          color: #3b3b3b;
        }
      }
    }
  }

  & .sh-dadosPerfil-main {
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .sh-dadosPerfil-informacoes {
      list-style-type: none;
      padding: 0;

      & .sh-dadosPerfil-main-titulos {
        font-size: var(--sh-dadosPerfil-font-size-subtitulos);
        color: var(--sh-dadosPerfil-cor-background-skillhub);
        font-weight: 500;
        padding: 0 0 15px;
      }

      & .sh-dadosPerfil-main-subtitulos {
        font-size: var(--sh-dadosPerfil-font-size-textos);
        color: var(--sh-dadosPerfil-cor-textos);
      }

      & .sh-dadosPerfil-main-textos {
        font-size: var(--sh-dadosPerfil-font-size-textos);
        color: var(--sh-dadosPerfil-cor-textos);
        font-weight: 300;
        padding: 0 0 15px;
      }
    }

    & .sh-dadosPerfil-opcoes {
      display: flex;
      gap: 15px;

      & .sh-dadosPerfil-opcoes-buttons {
        padding: 1px 5px;
        border: none;
        border-radius: 5px;
        font-size: var(--sh-dadosPerfil-font-size-textos);
        outline: none;
      }

      & .sh-options-button-editar {
        color: var(--sh-dadosPerfil-cor-primaria);
        background-color: var(--sh-dadosPerfil-cor-background-components);

        &:hover {
          background-color: #044da0;
        }
      }

      & .sh-options-button-excluir {
        color: #fc6060;
        background-color: transparent;

        &:hover {
          color: #ff0000;
        }
      }

    }
  }
}

@media (min-width: 576px) {
  & .sh-dadosPerfil {

    & .sh-dadosPerfil-main {
      display: grid;
      grid-template-areas:
        "dadosBase adicionais"
        "buttons buttons";
      margin-bottom: 15px;
    }
  }
}

@media (min-width: 992px) {
  & .sh-dadosPerfil {
    margin: 0;

    & .sh-dadosPerfil-main {

      &:nth-child(1) {
        grid-area: dadosBase;
      }

      &:nth-child(2) {
        grid-area: adicionais;
      }

      &:nth-child(3) {
        grid-area: buttons;
      }
    }
  }
}