:root {
  --sh-footer-font-family: "Roboto", sans-serif;

  --sh-footer-cor-primaria: #fff;
  --sh-footer-cor-secundaria: #0075FF;
  --sh-footer-cor-terciaria: #000;
  --sh-footer-cor-quaternaria: #35FF62;

  --sh-footer-cor-titulos: #272727;
  --sh-footer-cor-textos: #E2E2E2;

  --sh-footer-font-size-copyright: .8rem;
  --sh-footer-font-size-title: 1.1rem;
  --sh-footer-font-size-text: 1rem;

  --sh-footer-padding: 20px 10px 5px;
}

& .sh-footer-element {
  
  padding: var(--sh-footer-padding);
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-top: 1px solid var(--sh-footer-cor-terciaria);

  & .sh-footer-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0;

    & .sh-footer-fundadores {
      display: flex;
      grid-area: fundadores;
      flex-direction: column;
      gap: 15px;
      width: max-content;

      & .sh-fundadores-title {
        color: var(--sh-footer-cor-primaria);
        font-size: var(--sh-footer-font-size-title);
        font-weight: 450;
        text-align: left;
        margin: 0;
      }

      & .sh-fundadores-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style-type: none;
        padding: 0;
        column-gap: 40px;
        width: max-content;

        & .sh-fundadores-nome {
          color: var(--sh-footer-cor-textos);
          font-weight: 250;
          font-size: var(--sh-footer-font-size-text);
        }
      }
    }

    & .sh-footer-faleConosco {
      display: flex;
      grid-area: faleConosco;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      align-items: start;

      & .sh-faleConosco-title {
        color: var(--sh-footer-cor-primaria);
        font-size: var(--sh-footer-font-size-title);
        font-weight: 450;
        text-align: left;
        margin: 0;
        width: 100%;
      }

      & .sh-faleConosco-text {
        color: var(--sh-footer-cor-textos);
        font-size: var(--sh-footer-font-size-text);
        margin: 0;
        text-align: left;
        width: 100%;
        font-weight: 250;
      }

      & .sh-faleConosco-redesSociais {
        display: flex;
        gap: 40px;

        & .sh-footer-redesSociais-img {
          width: 23px;
        }
      }
    }

    & .sh-footer-mapa {
      display: flex;
      grid-area: mapa;
      flex-direction: column;
      gap: 15px;

      & .sh-footer-mapa-title {
        color: var(--sh-footer-cor-primaria);
        font-size: var(--sh-footer-font-size-title);
        font-weight: 450;
        text-align: left;
        margin: 0;
      }

      & .sh-footer-mapa-list {
        display: grid;
        grid-template-columns: 1fr;
        list-style-type: none;
        padding: 0;
        column-gap: 30px;
        row-gap: 4px;
        width: max-content;

        & .sh-footer-mapa-item {
          color: var(--sh-footer-cor-textos);
          font-weight: 250;
          font-size: var(--sh-footer-font-size-text);

          & .sh-mapa-link {
            text-decoration: none;
            color: var(--sh-footer-cor-textos);
          }
        }
      }
    }
  }

  & .sh-footer-copyright {
    color: var(--sh-footer-cor-textos);
    font-size: var(--sh-footer-font-size-copyright);
    text-align: center;
  }
}


@media (min-width: 576px) {
  :root {
    --sh-footer-font-size-title: 1.6rem;
    --sh-footer-font-size-text: 1.2rem;
    --sh-footer-font-size-copyright: 1rem;
  }

  & .sh-footer-element {
    & .sh-footer-info {
      & .sh-footer-faleConosco {
        & .sh-faleConosco-redesSociais {
          & .sh-footer-redesSociais-img {
            width: 28px;
          }
        }
      }

      & .sh-footer-mapa {
        & .sh-footer-mapa-list {
          grid-template-columns: 1fr 1fr;
        }
    }
    }
  }
}

@media (min-width: 768px) {
  :root {
    --sh-footer-font-size-title: 1.3rem;
    --sh-footer-font-size-text: 1rem;
    --sh-footer-font-size-copyright: .8rem;
  }

  & .sh-footer-element {
    & .sh-footer-info {
      display: grid;
      grid-template-areas: 
      "fundadores mapa"
      "contatos contatos";

      & .sh-footer-fundadores {
        grid-area: fundadores;

        & .sh-fundadores-list {
          grid-template-columns: 1fr;
        }
      }

      & .sh-footer-faleConosco {
        grid-area: contatos;
      }

      & .sh-footer-mapa {
        grid-area: mapa;
      }
    }
  }
}

@media (min-width: 992px) {
  :root {
    --sh-footer-font-size-title: 1rem;
    --sh-footer-font-size-text: 0.9rem;
    --sh-footer-font-size-copyright: 0.8rem;
  }

  & .sh-footer-element {
    & .sh-footer-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      & .sh-footer-fundadores {
        & .sh-fundadores-list {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  & .sh-footer-element {
    width: 1400px;
  }
}