@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --sh-ListaServicos-font-family: "Nunito", sans-serif;

  --sh-ListaServicos-cor-primaria: #fff;
  --sh-ListaServicos-cor-secundaria: #0075FF;
  --sh-ListaServicos-cor-terciaria: #000;
  --sh-ListaServicos-cor-quaternaria: #35FF62;
  --sh-ListaServicos-cor-textos: #494949;
  --sh-ListaServicos-cor-background-footer: #26466B;
  --sh-ListaServicos-cor-background-skillhub: #0089e0;
  --sh-ListaServicos-cor-background-components: #356FB0;

  --sh-ListaServicos-padding: 0 10px;
  --sh-ListaServicos-margin: 30px 0;


  --sh-ListaServicos-font-size-titulos: 1.4rem;
  --sh-ListaServicos-font-size-subtitulos: 1.2rem;
  --sh-ListaServicos-font-size-textos: 1rem;
}

& .sh-servicos {
  width: 100%;
  margin: var(--sh-ListaServicos-margin);
  display: flex;
  flex-direction: column;
  gap: 20px;

  & .sh-servicos-titulo {
    text-align: center;
    font-size: var(--sh-ListaServicos-font-size-titulos);
    color: var(--sh-ListaServicos-cor-terciaria);
  }

  & .sh-servicosLista {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    list-style-type: none;
    background-image: url('../../assets/index/backgrounds/background-servicos.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    width: 100%;


    & .sh-servicosItem {
      width: 300px;
      /* overflow: hidden; */
      border-radius: 5px;
      box-shadow: 3px 3px 7px #000;
      cursor: pointer;


      & .sh-servicosItem-lista {
        background-color: var(--sh-ListaServicos-cor-primaria);
        list-style-type: none;
        padding: 0;
        border-radius: 5px;
        height: 100%;

        & .sh-servicosLista-item {

          & .sh-servicosLista-imagem {
            width: 300px;
            border-radius: 5px 5px 0 0;

          }
        }

        & .sh-servicosLista-fotoServico {
          height: 170px;
          overflow: hidden;
          display: flex;
          align-items: center;
          border-radius: 5px 5px 0 0;
        }

        & .sh-servicosLista-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 2px 5px;
          background-color: red;
          gap: 10px;

          & .sh-servicosLista-fotoNome {
            display: flex;
            align-items: center;
            gap: 10px;

            & .sh-servicosLista-clienteImg {
              width: 40px;
              height: 40px;
              border-radius: 100%;
            }

          }

          & .sh-servicosLista-nomeCliente {
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            max-width: 180px;
            height: max-content;
          }


          & .sh-servicosLista-classificacao {
            height: max-content;
            display: flex;
            flex-direction: column;
            align-items: end;
            flex-grow: 1;

            & .sh-servicosLista-classificacaoImg {
              width: 23px;
            }

            & .sh-servicosLista-classificacaoNumero {
              margin: 0;
            }
          }
        }

        & .sh-servicosLista-main {
          display: flex;
          flex-direction: column;
          padding: 10px 5px;
          height: 140px;

          & .sh-servicosLista-tipoServico {
            margin: 0;
            font-size: var(--sh-ListaServicos-font-size-textos);
            color: var(--sh-ListaServicos-cor-terciaria);
            font-weight: bold;
          }

          & .sh-servicosLista-descricaoServico {
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            max-width: 100%;
            height: max-content;
          }
        }

        & .sh-servicosLista-footer {
          display: flex;
          padding: 5px;
          background-color: var(--sh-ListaServicos-cor-background-components);
          border-radius: 0 0 5px 5px;

          & .sh-servicosLista-remuneracao {
            margin: 0;
            font-size: var(--sh-ListaServicos-font-size-textos);
            font-weight: 500;
            color: var(--sh-ListaServicos-cor-primaria);
          }
        }
      }
    }

    & .sh-servicosItem:hover {
      box-shadow: none;
    }
  }
}

@media (min-width: 1300px) {
  & .sh-servicos {

    & .sh-servicosLista {
      justify-content: center;
    }
  }
}

@media (min-width: 1400px) {
  & .sh-servicos {
    width: 1400px;

    & .sh-servicosLista {
      border-radius: 10px;

      & .sh-servicosLista-item {}
    }
  }
}