:root {
  --sh-servicos-cor-primaria: #fff;
  --sh-servicos-cor-secundaria: #0075FF;
  --sh-servicos-cor-marcadores: #5584E0;
  --sh-servicos-cor-terciaria: #000;
  --sh-servicos-cor-quaternaria: #35FF62;
  --sh-servicos-cor-textos: #494949;

  --sh-servicos-padding: 0 5px;
  --sh-servicos-margin: 20px 0;


  --sh-servicos-font-size-titulos: 1.5rem;
  --sh-servicos-font-size-remuneracao: 1.2rem;
  --sh-servicos-font-size-textos: 1.1rem;
}

& .sh-servicos-lista {
  list-style-type: none;
  padding: 25px 20px;
  margin: 0;
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  gap: 15px;
  background-image: url('../../assets/index/backgrounds/background-ultimos-servicos.webp');

  & .sh-servicos-itens {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    width: max-content;
    background-color: var(--sh-servicos-cor-primaria);
    border-radius: 5px;
    box-shadow: #555555 3px 3px 9px;


    & .sh-itens-data {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 10px;
      width: 265px;

      & .sh-servicos-img-perfil {
        width: 30px;
      }

      & .sh-servicos-data-marcador {
        margin: 0;
        background-color: var(--sh-servicos-cor-marcadores);
        font-size: var(--sh-servicos-font-size-textos);
        color: var(--sh-servicos-cor-primaria);
        padding: 2px 8px;
        border-radius: 50px;
      }

      & .sh-servicos-data-descricao {
        color: var(--sh-servicos-cor-textos);
        font-size: var(--sh-servicos-font-size-textos);

        /* Limitar tamanho de texto */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }


    & .sh-itens-remuneracao {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 0;
      align-items: start;

      & .sh-servicos-data-remuneracao {
        color: var(--sh-servicos-cor-terciaria);
        font-size: var(--sh-servicos-font-size-remuneracao);
        margin: 0;
        width: max-content;
        font-weight: bold;
      }

      & .sh-servicos-data-valor {
        margin: 0;
        font-size: var(--sh-servicos-font-size-textos);
        color: var(--sh-servicos-cor-textos);
        width: max-content;
      }
    }
  }
}

@media (min-width: 576px) {
  :root {
    --sh-servicos-font-size-remuneracao: 1.7rem;
    --sh-servicos-font-size-textos: 1.4rem;
  }

  & .sh-servicos-lista {
    & .sh-servicos-itens {
      & .sh-itens-data {
        width: 310px;

        & .sh-servicos-img-perfil {
          width: 35px;
        }
      }
    }
  }
}

@media(min-width: 768px) {
  :root {
    --sh-servicos-font-size-textos: 1.2rem;
    --sh-servicos-font-size-remuneracao: 1.3rem;
  }

  & .sh-servicos-lista {
    & .sh-servicos-itens {
      & .sh-itens-data {
        & .sh-servicos-img-perfil {
          width: 30px;
        }
      }
    }
  }
}

@media(min-width: 1125px) {
  .sh-servicos-lista {
    overflow-x: hidden;
  }
}