@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --sh-font-family: "Roboto", sans-serif;

  --sh-font-size-textos: 1.2rem;
  --sh-font-size-posters: 1rem;
  --sh-font-size-titulos: 1.6rem;
  --sh-font-size-subtitulos: 1.4rem;
  --sh-font-size-textos-buttons: 1rem;

  --sh-font-size-servicos-titulos: 1.6rem;

  --sh-cor-primaria: #fff;
  --sh-cor-secundaria: #0075FF;
  --sh-cor-terciaria: #000;
  --sh-cor-quaternaria: #35FF62;
  --sh-cor-textos: #6F6F6F;
  --sh-cor-textos-hover: #2c2c2c;

  --sh-itens-gap-top: 45px;

  --sh-inicial-padding: 45px 10px 5px 10px;
}

.sh-container {
  font-family: var(--sh-font-family);

  & .sh-header-apresentacao {
    min-height: 100vh;
    border-bottom: 1px solid var(--sh-cor-textos);

    & .sh-apresentacao {
      display: flex;
      flex-direction: column;
      padding: var(--sh-inicial-padding);
      justify-content: space-between;
      gap: 50px;

      & .sh-apresentacao-posters {
        display: flex;
        flex-direction: column;

        & .sh-images-img {
          width: 100%;
        }

        & .sh-apresentacao-cadastro {
          display: flex;
          flex-direction: column;
          gap: 5px;
          justify-content: center;
          align-items: center;

          & .sh-cadastro-textos {
            margin: 0;
            color: var(--sh-cor-textos);
            font-size: var(--sh-font-size-posters);
          }

          & .sh-cadastro-buttons {
            font-size: var(--sh-font-size-textos-buttons);
            text-decoration: none;
            color: var(--sh-cor-primaria);
            background-color: var(--sh-cor-secundaria);
            padding: 5px 20px;
            border-radius: 50px;
            text-wrap: nowrap;
          }
        }

      }
    }
  }

  & .sh-main {

    & .sh-main-servicos {
      display: flex;
      flex-direction: column;
      gap: var(--sh-itens-gap-top);
      padding: var(--sh-inicial-padding);

      & .sh-servicos-titulo {
        text-align: center;
        font-size: var(--sh-font-size-servicos-titulos);
        color: var(--sh-cor-terciaria);
      }
    }

    & .sh-main-planos {
      padding: var(--sh-inicial-padding);
      display: flex;
      flex-direction: column;
      align-items: center;

      & .sh-planos-titulos {

        & .sh-planos-titulo {
          text-align: center;
          font-size: var(--sh-font-size-titulos);
          color: var(--sh-cor-terciaria);
        }

        & .sh-planos-subtitulo {
          color: var(--sh-cor-textos);
          font-size: var(--sh-font-size-subtitulos);
          margin: 0;
        }
      }
    }

    & .sh-main-vantagens {
      padding: var(--sh-inicial-padding);

      & .sh-vantagens-titulo {
        text-align: center;
        font-size: var(--sh-font-size-titulos);
        color: var(--sh-cor-terciaria);
      }

      & .sh-vantagem-lista {
        display: flex;
        flex-direction: column;
        padding: 55px 30px;
        gap: 50px;

        & .sh-vantagem-lista-item {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 0;


          & .sh-vantagem-item-info {
            list-style-image: url('./assets/icons/marcador.png');
            font-size: var(--sh-font-size-textos);
            color: var(--sh-cor-textos);

            & strong {
              color: var(--sh-cor-terciaria);
            }
          }
        }
      }
    }

    & .sh-main-comecar {
      padding: var(--sh-inicial-padding);

      & .sh-comecar-titulo {
        text-align: center;
        font-size: var(--sh-font-size-titulos);
        color: var(--sh-cor-terciaria);
      }

      & .sh-comecar-tipo {
        padding: 30px 0 0;
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-items: center;

        & .sh-comecar-list {
          list-style-type: none;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 12px;

          & .sh-comecar-tipo-titlulo {
            color: var(--sh-cor-textos);
            font-size: var(--sh-font-size-titulos);
            text-align: center;
            padding: 5px 0;
          }

          & .sh-comecar-list-item {
            color: var(--sh-cor-textos);
            font-size: var(--sh-font-size-textos);

            & a {
              text-decoration: none;
            }

            & strong {
              color: var(--sh-cor-terciaria);
            }
          }
        }

      }
    }

    & .sh-profissionaisEmDestaque {
      padding: var(--sh-inicial-padding);
      display: flex;
      flex-direction: column;

      & .sh-profissionaisEmDestaque-titulo {
        text-align: center;
        font-size: var(--sh-font-size-titulos);
        color: var(--sh-cor-terciaria);
      }
    }
  }

  /* Todo o footer */
  & .sh-footer {}
}

@media (min-width: 768px) {
  :root {
    --sh-font-family: "Roboto", sans-serif;
  
    --sh-font-size-textos: 1.2rem;
    --sh-font-size-posters: 1.3rem;
    --sh-font-size-titulos: 2rem;
    --sh-font-size-subtitulos: 1.7rem;
    --sh-font-size-textos-buttons: 1.2rem;
  
    --sh-font-size-servicos-titulos: 1.6rem;
  
    --sh-cor-primaria: #fff;
    --sh-cor-secundaria: #0075FF;
    --sh-cor-terciaria: #000;
    --sh-cor-quaternaria: #35FF62;
    --sh-cor-textos: #6F6F6F;
    --sh-cor-textos-hover: #2c2c2c;
  
    --sh-itens-gap-top: 45px;
  
    --sh-inicial-padding: 45px 10px 5px 10px;
  }

  .sh-container {
    & .sh-header-apresentacao {
      min-height: 100vh;
  
      & .sh-apresentacao {
        display: flex;
        flex-direction: row;
  
        & .sh-apresentacao-posters {
  
          & .sh-apresentacao-cadastro {
            flex-direction: row;
            gap: 10px;
  
            & .sh-cadastro-textos {
              font-size: var(--sh-font-size-posters);
            }
  
            & .sh-cadastro-buttons {
              font-size: var(--sh-font-size-textos-buttons);
            }
          }
  
        }
      }
    }
  
    & .sh-main {
  
      & .sh-main-servicos {
        display: flex;
        flex-direction: column;
        gap: var(--sh-itens-gap-top);
        padding: var(--sh-inicial-padding);
  
        & .sh-servicos-titulo {
          text-align: center;
          font-size: var(--sh-font-size-titulos);
          color: var(--sh-cor-terciaria);
        }
      }
  
      & .sh-main-planos {
        padding: var(--sh-inicial-padding);
        display: flex;
        flex-direction: column;
        align-items: center;
  
        & .sh-planos-titulos {
  
          & .sh-planos-titulo {
            text-align: center;
            font-size: var(--sh-font-size-titulos);
            color: var(--sh-cor-terciaria);
          }
  
          & .sh-planos-subtitulo {
            color: var(--sh-cor-textos);
            font-size: var(--sh-font-size-subtitulos);
            margin: 0;
          }
        }
      }
  
      & .sh-main-vantagens {
        padding: var(--sh-inicial-padding);
  
        & .sh-vantagens-titulo {
          text-align: center;
          font-size: var(--sh-font-size-titulos);
          color: var(--sh-cor-terciaria);
        }
  
        & .sh-vantagem-lista {
          display: flex;
          flex-direction: column;
          padding: 55px 30px;
          gap: 50px;
  
          & .sh-vantagem-lista-item {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 0;
  
  
            & .sh-vantagem-item-info {
              list-style-image: url('./assets/icons/marcador.png');
              font-size: var(--sh-font-size-textos);
              color: var(--sh-cor-textos);
  
              & strong {
                color: var(--sh-cor-terciaria);
              }
            }
          }
        }
      }
  
      & .sh-main-comecar {
        padding: var(--sh-inicial-padding);
  
        & .sh-comecar-titulo {
          text-align: center;
          font-size: var(--sh-font-size-titulos);
          color: var(--sh-cor-terciaria);
        }
  
        & .sh-comecar-tipo {
          padding: 30px 0 0;
          display: flex;
          flex-direction: column;
          gap: 50px;
          justify-items: center;
  
          & .sh-comecar-list {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 12px;
  
            & .sh-comecar-tipo-titlulo {
              color: var(--sh-cor-textos);
              font-size: var(--sh-font-size-titulos);
              text-align: center;
              padding: 5px 0;
            }
  
            & .sh-comecar-list-item {
              color: var(--sh-cor-textos);
              font-size: var(--sh-font-size-textos);
  
              & a {
                text-decoration: none;
              }
  
              & strong {
                color: var(--sh-cor-terciaria);
              }
            }
          }
  
        }
      }
  
      & .sh-profissionaisEmDestaque {
        padding: var(--sh-inicial-padding);
        display: flex;
        flex-direction: column;
  
        & .sh-profissionaisEmDestaque-titulo {
          text-align: center;
          font-size: var(--sh-font-size-titulos);
          color: var(--sh-cor-terciaria);
        }
      }
    }
  
    & .sh-footer {}
  }
}

@media (min-width: 1400px) {
  .sh-container {
    background-color: rgb(159, 206, 123);
    display: flex;
    flex-direction: column;
    align-items: center;


    & .sh-header-apresentacao {
      background-color: rgb(249, 160, 92);
      min-height: 100vh;
      width: 1400px;
    }

    /* Main */
    & .sh-main {
      background-color: rgb(92, 165, 249);
      width: 1400px;
    }

    /* Footer */
    & .sh-footer {
      background-color: rgb(185, 64, 236);
      width: 1400px;
    }
  }
}