@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --sh-index-font-family: "Nunito", sans-serif;

  --sh-index-cor-primaria: #fff;
  --sh-index-cor-secundaria: #0075FF;
  --sh-index-cor-terciaria: #000;
  --sh-index-cor-quaternaria: #35FF62;
  --sh-index-cor-textos: #494949;
  --sh-footer-cor-background-footer: #26466B;

  --sh-index-padding: 0 10px;
  --sh-index-margin: 20px 0;


  --sh-index-font-size-titulos: 1.4rem;
  --sh-index-font-size-subtitulos: 1.2rem;
  --sh-index-font-size-textos: 1rem;
}


.sh-container {
  font-family: var(--sh-index-font-family);

  & sh-container-loading {
    display: flex;
  }

  & .sh-header-apresentacao {

    & .sh-apresentacao {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      padding: 0 0 10px 0;

      & .sh-apresentacao-um {
        width: 100%;

        & .sh-apresentacao-img {
          width: 100%;
        }
      }

      & .sh-apresentacao-textos {
        display: flex;
        flex-direction: column;
        padding: var(--sh-index-padding);
        gap: 5px;

        & .sh-apresentacao-titulos {
          font-size: var(--sh-index-font-size-titulos);
          color: var(--sh-index-cor-terciaria);
        }

        & .sh-apresentacao-paragrafos {
          font-size: var(--sh-index-font-size-textos);
          color: var(--sh-index-cor-textos);
          margin: 0;
        }
      }

      & .sh-apresentacao-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        & .sh-apresentacao-button-item {
          & .sh-apresentacao-button-icon {
            width: 20px;
          }

          & .sh-invert {
            rotate: 180deg;
          }
        }

        & .sh-apresentacao-button {
          background-color: var(--sh-index-cor-secundaria);
          width: 100%;

          & .sh-apresentacao-button-cadastro {
            text-decoration: none;
            font-size: var(--sh-index-font-size-titulos);
            color: var(--sh-index-cor-primaria);
            font-weight: 400;
          }
        }
      }

      & .sh-apresentacao-dois {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 20px;

        & .sh-apresentacao-dois-container-img {
          display: flex;
          flex-direction: column;
          gap: 10px;

          & .sh-apresentacao-dois-img {
            width: 100%;
          }
        }

        & .sh-apresentacao-textos {
          display: flex;
          flex-direction: column;
          margin-top: 10px;
          padding: var(--sh-index-padding);
          gap: 5px;

          & .sh-apresentacao-dois-titulos {
            margin: 0;
            padding: 0;
            font-size: var(--sh-index-font-size-titulos);
            color: var(--sh-index-cor-terciaria);
          }

          & .sh-apresentacao-dois-textos {
            padding: 0;
            font-size: var(--sh-index-font-size-textos);
            color: var(--sh-index-cor-textos);
            margin: 0;
          }
        }
      }
    }
  }

  & .sh-main {
    display: flex;
    flex-direction: column;

    /* O que é a Skillhub */
    & .sh-main-skillhub {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: 40px 0 20px;
      padding: var(--sh-index-padding);

      & .sh-skillhub-titulo {
        color: var(--sh-index-cor-terciaria);
        font-size: var(--sh-index-font-size-titulos);
        text-align: center;
      }

      & .sh-skillhub-textos-list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        gap: 10px;

        & .sh-skillhub-paragrafos {
          font-size: var(--sh-index-font-size-textos);
          color: var(--sh-index-cor-textos);
        }
      }
    }

    /* Profissionais em destaque */
    & .sh-profissionaisEmDestaque {
      display: flex;
      flex-direction: column;
      margin: var(--sh-index-margin);
      gap: 20px;
      width: 100%;

      & .sh-profissionaisEmDestaque-titulo {
        text-align: center;
        font-size: var(--sh-index-font-size-titulos);
        color: var(--sh-index-cor-terciaria);
      }

      & .sh-profissionalEmDestaque-lista {
        width: 100%;
        display: flex;
        justify-content: center;
        background-image: url('./assets/index/backgrounds/background-profissoes.webp');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    /* Clientes em destaque */
    & .sh-clientesEmDestaque {
      display: flex;
      flex-direction: column;
      margin: var(--sh-index-margin);
      gap: 20px;
      width: 100%;

      & .sh-clientesEmDestaque-titulo {
        text-align: center;
        font-size: var(--sh-index-font-size-titulos);
        color: var(--sh-index-cor-terciaria);
      }

      & .sh-clientesEmDestaque-lista {
        width: 100%;
        display: flex;
        justify-content: center;
        background-image: url('./assets/index/backgrounds/background-profissoes.webp');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    /* Deseja ser um Freelancer? */
    & .sh-main-planos {
      padding: var(--sh-index-padding);
      margin: var(--sh-index-margin);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      & .sh-planos-titulos {

        & .sh-planos-titulo {
          text-align: center;
          color: var(--sh-index-cor-terciaria);
          font-size: var(--sh-index-font-size-titulos);
          margin: 0;
        }

        & .sh-planos-subtitulo {
          color: var(--sh-index-cor-textos);
          font-size: var(--sh-index-font-size-subtitulos);
          margin: 0;
        }
      }
    }

    /* Vantagens de fazer parte do nosso time */
    & .sh-main-vantagens {
      padding: var(--sh-index-padding);
      margin: var(--sh-index-margin);
      display: flex;
      flex-direction: column;
      gap: 20px;

      & .sh-vantagens-titulo {
        text-align: center;
        color: var(--sh-index-cor-terciaria);
        font-size: var(--sh-index-font-size-titulos);
      }

      & .sh-vantagens-lista {
        list-style-image: url('./assets/icons/marcador.png');
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        & .sh-vantagem-item-info {
          color: var(--sh-index-cor-textos);
          font-size: var(--sh-index-font-size-textos);
        }
      }
    }

    /* Como começar */
    & .sh-main-comecar {
      display: flex;
      flex-direction: column;
      padding: var(--sh-index-padding);
      margin: var(--sh-index-margin);
      gap: 20px;

      & .sh-comecar-titulo {
        text-align: center;
        color: var(--sh-index-cor-terciaria);
        font-size: var(--sh-index-font-size-titulos);
      }

      & .sh-comecar-tipo {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-items: center;

        & .sh-comecar-list {
          list-style-type: none;
          padding: 0;
          display: flex;
          flex-direction: column;
          gap: 12px;

          & .sh-comecar-tipo-titlulo {
            color: var(--sh-index-cor-terciaria);
            font-size: var(--sh-index-font-size-subtitulos);
            font-weight: bold;
            text-align: start;
          }

          & .sh-comecar-list-item {
            color: var(--sh-index-cor-textos);
            font-size: var(--sh-index-font-size-textos);

            & a {
              text-decoration: none;
            }
          }

          & .sh-span-destaque {
            font-weight: bold;
            font-size: var(--sh-index-font-size-textos);
            color: var(--sh-index-cor-textos);
          }
        }

      }
    }

    /* Dúvidas frequentes */
    & .sh-main-duvidas {
      display: flex;
      flex-direction: column;
      padding: var(--sh-index-padding);
      margin: var(--sh-index-margin);
      gap: 20px;

      & .sh-duvidas-titulo {
        text-align: center;
        color: var(--sh-index-cor-terciaria);
        font-size: var(--sh-index-font-size-titulos);
      }

      & .sh-duvidas-acordeon {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & .sh-duvidas-acordeon-item {
          border: none;

          & .sh-duvidas-header {

            & .accordion-button {
              color: var(--sh-index-cor-terciaria);
              font-size: var(--sh-index-font-size-textos);
              font-weight: 650;
              gap: 5px;
              padding: 0;
              outline: none;
              border: none;
              align-items: normal;

              &:not(.collapsed) {
                color: var(--sh-index-cor-textos);
                background-color: transparent;
                box-shadow: none;
                border: none;
              }

              &:focus {
                box-shadow: none;
              }

              &::after {
                order: -1;
                margin: 0;
              }
            }
          }

          & .sh-acordeon-body {
            color: var(--sh-index-cor-textos);
            font-size: var(--sh-index-font-size-textos);
          }
        }
      }
    }

    /* últimos serviços postados */
    & .sh-main-servicos {
      margin: var(--sh-index-margin);
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      gap: 20px;

      & .sh-servicos-titulo {
        text-align: center;
        color: var(--sh-index-cor-terciaria);
        font-size: var(--sh-index-font-size-titulos);
      }

      & .sh-servicos-lista-container {
        /* background-image: url('./assets/index/backgrounds/background-ultimos-servicos.webp'); */
        background-image: url('./assets/index/backgrounds/background-servicos.svg');
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    /* & .sh-show {
      animation: showInPage linear;
      animation-timeline: view();
      animation-range: entry 0%;
    } */
  }

  & .sh-footer {
    background-color: var(--sh-footer-cor-background-footer);
  }
}

@media (min-width: 576px) {
  :root {
    --sh-index-font-size-titulos: 1.6rem;
    --sh-index-font-size-subtitulos: 1.3rem;
    --sh-index-font-size-textos: 1.2rem;
  }
}

@media (min-width: 768px) {
  :root {
    --sh-index-font-size-titulos: 1.4rem;
    --sh-index-font-size-subtitulos: 1.2rem;
    --sh-index-font-size-textos: 1rem;
  }

  .sh-container {
    & .sh-header-apresentacao {
      & .sh-apresentacao {
        margin-top: 65px;
        row-gap: 40px;

        & .sh-apresentacao-um {
          position: relative;
          height: max-content;
          padding-left: 10px;

          & .sh-apresentacao-md-button {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 35%;
            height: 30%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            & .sh-apresentacao-md-button-link {
              width: 210px;
            }
          }
        }

        & .sh-apresentacao-dois {
          flex-direction: row;

          & .sh-apresentacao-dois-container-img {
            width: max-content;
            width: 25%;
          }

          & .sh-apresentacao-textos {
            & .sh-apresentacao-dois-textos {
              width: 360px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  :root {
    --sh-index-font-size-titulos: 1.5rem;
    --sh-index-font-size-subtitulos: 1.2rem;
    --sh-index-font-size-textos: .9rem;
  }

  .sh-container {
    & .sh-header-apresentacao {
      & .sh-apresentacao {
        flex-direction: row;

        & .sh-apresentacao-dois {
          flex-direction: column;
          margin: 0;

          & .sh-apresentacao-dois-container-img {
            width: max-content;
            gap: 0;

            & .sh-apresentacao-dois-img {
              width: 177px;
            }
          }

          & .sh-apresentacao-textos {
            padding: 0;
            width: 261px;

            & .sh-apresentacao-dois-textos {
              width: 260px;
            }
          }

        }
      }
    }

    & .sh-main {
      & .sh-main-skillhub {
        & .sh-skillhub-textos-list {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 50px;
        }
      }

      & .sh-main-vantagens {
        & .sh-vantagens-lista {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 50px;
        }
      }

      & .sh-main-comecar {
        & .sh-comecar-tipo {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 50px;
        }
      }
    }
  }

}

@media (min-width: 1200px) {
  :root {
    --sh-index-font-size-titulos: 1.5rem;
    --sh-index-font-size-textos: 1rem;
  }

  .sh-container {
    & .sh-header-apresentacao {
      & .sh-apresentacao {
        & .sh-apresentacao-dois {
          & .sh-apresentacao-dois-container-img {
            & .sh-apresentacao-dois-img {
              width: 235px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  :root {
    /* --sh-index-font-size-titulos: 2.4rem;
    --sh-index-font-size-textos: 1.7rem; */
  }

  .sh-container {
    & .sh-header-apresentacao {
      padding: 3px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & .sh-apresentacao {
        width: 1400px;
      }
    }

    & .sh-main {
      display: flex;
      flex-direction: column;
      align-items: center;

      & .sh-main-skillhub {
        width: 1400px;
      }

      /* & .sh-profissionaisEmDestaque {
        width: 1400px;
      } */

      /* & .sh-clientesEmDestaque {
        width: 1400px;
      } */

      & .sh-main-planos {
        width: 1400px;
      }

      & .sh-main-vantagens {
        width: 1400px;
      }

      & .sh-main-comecar {
        width: 1400px;
      }

      & .sh-main-duvidas {
        width: 1400px;
      }

      & .sh-main-servicos {
        width: 100%;
      }
    }

    & .sh-footer {
      display: flex;
      justify-content: center;
    }
  }
}